<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina 2</title>
</head>
<body>
    <h1>Página 2 con motor de plantillas para manipular variables</h1>
    <!--Para agregar una variable se utilizan los dos pares de llaves {{nombre_variable}}-->
    <h2>Hola, {{nombre}}</h2>
    <h3>Espero que puedas disfrutar y prender mucho en este nuevo curso de {{curso}}</h3>

    <p>La suma del número {{num1}} y del número {{num2}} es: {{num1 + num2}}</p>
    <p>{{apellido + " " + apellido}}</p>

</body>
</html>